body {
    margin: auto;
}

/*    header   */   

.logo {
    height: 90px;
}

.taille_logo {
    max-width: 346px;
}

/*  titre  */

.titre h2 {
    font-size: 30px;
}

.titre p {
    max-width: none;
    font-size: 20px;
}

.boutton {
    max-width: 250px;
    height: 60px;
    font-size: 18px;
}
 

/*  restaurants  */ 
 

.carte_restaurants {
    max-width: 600px;
}

.restaurants .titre_fonction_restaurants {
    max-width: 600px;
}
.nouveau {
    height: 40px;
    font-size: 20px;
}


/* footer */ 

.logo_footer {
    font-size: 24px;
}

footer p {
    font-size: 20px;
}

.fa-handshake-angle, .fa-utensils {
    font-size: 15px;
}